<div class="container">
    <h1>Lista de Usuarios</h1>

    <!-- <ul>
        <li *ngFor="let user of $users; trackBy: trackByFn">
            {{ user.name }}
        </li>
    </ul> -->
    <!-- <ul>
        @for (user of $users; track user.id) {
        <li>{{ user }}.</li>
        {{
            user.name
        }}
        } @empty { Empty list of users }
    </ul> -->
    <!--    
    <h1>Bienvenido</h1>

    @if ($users) {
        <h2>Hello</h2>
        @for (user of $users; track user) {
            {{ user.name }}
          }
              <strong>{{ user.name }}</strong> - {{ user.email }}
        } 
        @else {
        <h2>Goodbye</h2>
        }
-->

    <!--            
    <div *ngIf="users.length > 0; else noUsers">
      <ul>
        <li *ngFor="let user of users">
          <strong>{{ user.name }}</strong> - {{ user.email }}
        </li>
      </ul>
    </div>
    <ng-template #noUsers>
      <p>No hay usuarios para mostrar.</p>
    </ng-template>
  </div>
   -->
</div>
