/* Estilos del modal */
.modal-content {
    background-color: #f5f5f5; /* Cambiamos el color de fondo a un gris claro */
    color: #333; /* Cambiamos el color del texto a negro */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Cambiamos el color de la sombra a un tono más suave */
    padding: 20px;
}

.modal-title {
    color: #333; /* Cambiamos el color del título a negro */
}

.modal-body {
    color: #666; /* Cambiamos el color del texto del cuerpo a gris oscuro */
}

.btn-secondary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #0056b3;
}

/* Estilos del botón de cerrar */
.btn-close {
    color: #999; /* Cambiamos el color del botón de cerrar a gris oscuro */
    font-size: 20px;
}

.btn-close:hover {
    color: #555; /* Cambiamos el color del botón de cerrar al pasar el mouse a un gris más oscuro */
}
